.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.top {
    display: flex;
    justify-content: space-between;
    gap: 500px;
    align-items: stretch; /* Ensures both .info and .imgcontainer have the same height */
}

.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Distributes the content evenly within the height */
    gap: 20px;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #c6c4bb;
}

.desc {
    font-size: 1.2rem;
    color: #c6c4bb;
    line-height: 1.6;
}

.author {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.avatar {
    border-radius: 50%;
}

.username {
    font-size: 1rem;
    color: #777;
}

.imgcontainer {
    flex: 1;
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 20px;
    min-width: 400px;
    min-height: 250px;

}

.img {
    object-fit: cover;
    border-radius: 10px;
}

.content {
    margin-top: 40px;
    font-size: 1.1rem;
    color: #c6c4bb;
    line-height: 1.8;
}

.text {
    text-align: justify;
}

/* Mobile Responsive */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .title {
        font-size: 2rem;
    }

    .desc {
        font-size: 1rem;
    }

    .imgcontainer {
        height: 250px;
    }

    .content {
        font-size: 1rem;
    }
}
