.container {
    display: flex;
    align-items: center;
    gap: 100px;
  }
  
  .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  
  .img {
    width: 100%;
    height: 500px;
    animation: move 3s infinite ease alternate;
  }
  @keyframes move{
    from {
      transform: translateY(-45px);
    }
  }
  
  .title {
    font-size: 72px;
    background: linear-gradient(to bottom, #462c23, #c6c4bb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .description {
    font-size: 24px;
    font-weight: 300;
  }
  
  .button {
    padding: 20px;
    cursor: pointer;
    background-color: #957056;
    color: #c6c4bb;
    border-radius: 5px;
    border: none;
    width: max-content;
  }
  
  .button:hover {
    background: #462c23;
    color: #c6c4bb;
    border: 0.1rem solid #c6c4bb;
  }
  
  /* Mobile Responsive */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      gap: 50px; /* Reduce gap for smaller screens */
    }
  
    .img {
      height: 300px; /* Reduce image height for mobile screens */
    }
  
    .title {
      font-size: 48px; /* Reduce title size for better fit on smaller screens */
    }
  
    .description {
      font-size: 18px; /* Slightly reduce the description font size */
    }
  
    .button {
      padding: 15px; /* Adjust padding for mobile screens */
    }
  }
  