.container {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  gap: 50px;
  
}

.maintitle {
  font-size: 80px;
}

.container:nth-child(odd) {
  flex-direction: row;
}

.container:nth-child(even) {
  flex-direction: row-reverse;
}

.imgcontainer {
  flex: 1;
  position: relative;
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.content {
 flex: 1;
}

.title {
  margin-bottom: 10px;
}

.desc {
  font-size: 18px;
  color: #c6c4bb;
}

/* Responsive design for screens smaller than 768px (tablets, phones) */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .maintitle {
    font-size: 60px;
    text-align: center;
  }

  .imgcontainer,
  .info {
      height: 250px;
  }

  .img {
    width: 100%;
    height: auto;
  }

  .desc {
    font-size: 16px;
  }
}

/* Responsive design for screens smaller than 480px (small phones) */
@media (max-width: 480px) {
  .maintitle {
    font-size: 50px;
  }

  .desc {
    font-size: 14px;
  }
}
