.container{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    gap: 50px;
}
.info{
    display: flex;
}
.img{
    object-fit: cover;
}
.content{

}
.title{
    margin-bottom: 10px;
}
.desc{
    font-size: 18px;
    color:#c6c4bb ;
}