.container {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  gap: 50px;
}

.maintitle{
    font-size: 80px;
}
.container:nth-child(odd) {
  flex-direction: row;
}

.container:nth-child(even) {
  flex-direction: row-reverse;
}

.imgcontainer {
  flex: 1;
}

.info {
  flex: 1;
}

.img {
  object-fit: cover;
  border-radius: 10px;
}

.content {
  /* Additional styling for content if needed */
}

.title {
  margin-bottom: 10px;
}

.desc {
  font-size: 18px;
  color: #c6c4bb;
}
